# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *" # repeat every day

jobs:
  ubuntu-latest:
    name: ${{ matrix.os }}, ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}   
    strategy:
      matrix:
        os: [ubuntu-latest]
        postgis: [false]
        dev: [false]
        python-version: ["3.7"]
      
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python environment
      uses: conda-incubator/setup-miniconda@v2
      with:
          activate-environment: test
          environment-file: .github/envs/conda-forge-env.yaml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest -v -r s -n auto --color=yes --cov=trackintel --cov-append --cov-report term-missing --cov-report xml tests/

  
    - name: Test with PostGIS
      shell: bash -l {0}
      if: contains(matrix.python-version, '3.8') && contains(matrix.os, 'ubuntu')
      env:
        PGUSER: postgres
        PGPASSWORD: postgres
        PGHOST: "127.0.0.1"
      run: |
        conda install postgis -c conda-forge
        source ci/envs/setup_postgres.sh
        pytest -v -r s --color=yes --cov=trackintel --cov-append --cov-report term-missing --cov-report xml tests/io/test_postgis.py | tee /dev/stderr | if grep SKIPPED >/dev/null;then echo "TESTS SKIPPED, FAILING" && exit 1;fi

    - name: Codecov report
      if: contains(matrix.python-version, '3.8') && contains(matrix.os, 'ubuntu')
      uses: codecov/codecov-action@v1