name: rstcheck

# Run this workflow every time a new commit pushed to your repository
on: [push, pull_request]

jobs:
  rstcheck:
    name: Doc Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install Python dependencies
        run: |
          python -m pip install jinja2 sphinx rstcheck

      - name: Run rstcheck
        run: |
          rstcheck -r --ignore-directives autofunction .
